<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @employee.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @employee.lastname %>
</p>

<p>
  <b>Username:</b>
  <%= @employee.username %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
