<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee %><br />
    <%= collection_select(:event, :employee_id, @users, :id, :firstname, :prompt => true, :selected => @event.employee_id) %>  
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => true, :selected => @event.job_id}) %>  
  </div>
  <div class="field">
    <%= f.label :punch_type %><br />
    <%= select(:event, :punch_type, @types, {:prompt => true, :selected => @lastevent.punch_type == "IN" ? "OUT" : "IN"}) %> 
  </div>
  <div class="field">
    <%= f.label :punchtime %><br />
    <%= datetime_select :event, :punchtime %>
  </div>
  <% if @event.employee_id && @event.job_id %>
    <div class="field">
    <%= f.label :log %><br />
    <%= f.text_field :log %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :log %><br />
    <%= f.text_area :log %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
