<%= link_to 'New Event', new_event_path, :class => 'btn pull-right' %>
<h1>Listing events</h1>

<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>Type</th>
    <th>Punchtime</th>
    <th>Log</th>
    <th style="width:52px"></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.employee.firstname if event.employee %> <%= event.employee.lastname if event.employee %></td>
    <td><%= event.job.name if event.job %></td>
    <td><%= event.punch_type %></td>
    <td><%= event.punchtime %></td>
    <td class="span5 pre"><%= event.log %></td>
    <td><%= link_to '<i class="icon-eye-open"></i>'.html_safe, event %> <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_event_path(event) %> <%= link_to '<i class="icon-trash"></i>'.html_safe, event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

