<h1>New event</h1>

<div class="row">
<div class="span6">
<%= render 'form' %>
</div>
<% if params[:employee_id] then %>
<div class="span5 well">
	<h3><%= @lastevent.employee.firstname %>, your last punch was</h3>

	<p><strong>
		  <%= @lastevent.punch_type %> at
		  <%= @lastevent.punchtime %></strong>
	</p>

	<p class="pre"><b>Log:</b> <%= @lastevent.log %>
	</p>
</div>
<% end %>
</div>

<%= link_to 'Back', events_path, :class => 'btn' %>
