<h1>Report</h1>

<h2>Totals By Job</h2>
<table>
  <tr>
    <th>Job</th>
    <th>Total Hours</th>
  </tr>

<% job_totals.each do |total| %>
  <tr>
    <td><%= total.name %></td>
    <td><%= '%.2f' % total.hours %></td>
  </tr>

<% end %>

</table>
<br>
<table>
  <tr>
  	    <th>Job</th>

<% job_totals.each do |total| %>
    <th><%= total.name %></th>

<% end %>
  </tr>
<tr>
	    <th>Total Hours</th>
<% job_totals.each do |total| %>
    <td><%= '%.2f' % total.hours %></td>

<% end %>
  </tr>


</table>

<br />

<h2>Totals matrix</h2>
  <div class="span2">
    <%= label "startdate", "Start Date" %>
    <%= text_field "startdate","",:value => 7.days.ago.at_midnight.to_date, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
</div>

  <div class="span2">
    <%= label "enddate", "End Date" %>
    <%= text_field "enddate","",:value => 1.day.from_now.at_midnight.to_date, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
  </div>
<table id="matrix" class="table">
  <tr>
    <th></th>
    <% @jobs.each do |job| %>
    <th class="job<%= job[:id] %>"><%= job[:name] %></th>
    <% end %>
    <th>Total</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr id="employee<%= employee[:id] %>">
    <th>
      <%= employee[:firstname] %> <%= employee[:lastname] %>
    </th>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
  <% end %>
  <tr class="total">
    <th>Total</th>
        <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
</table>


<h2>All Events</h2>	
	<div class="field">
    <%= collection_select(:event, :employee_id, @employees, :id, :firstname, {:prompt => true}) %>  
</div>
<div class="field">
    <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => true}) %>  
</div>
<table id="periods" class="table">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>In</th>
    <th>Out</th>
    <th>Length</th>
    <th>Log</th>

  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period[:employee].firstname %> <%= period[:employee].lastname %></td>
    <td><%= period[:job].name %></td>
    <td><%= period[:in] %></td>
    <td><%= period[:out] %></td>
    <td><%= '%.2f' % period[:length] if period[:length] != nil %></td>
    <td><%= period[:log] %></td>

  </tr>

<% end %>
<tr class="totals"><td>Total:</td><td></td><td></td><td></td><td class="length"></td><td></td></tr>
</table>




<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {


    var updateDate = function (sourceID) {
      var newdate = $('#' + sourceID + '_').val() + "-00:00"

      return newdate
    }

    var calcTotals = function (startdate,enddate) {
      $.getJSON("report.json", function(json){
       total =  0;
       var totals = {};

      $('#periods tr').show()
       $.each(json, function(n) {
        if(json[n].length && json[n].in >= startdate && json[n].out <= enddate) {
          var employeeId = json[n].employee.id;
          var jobId = json[n].job.id;
          if(!totals[employeeId]) totals[employeeId] = {}  //initialize
          if(!totals[employeeId][jobId]) totals[employeeId][jobId] = 0 //initialize

          totals[employeeId][jobId] += json[n].length

          total += json[n].length
        }
        else {
          $('#periods tr:eq(' + (n+1) + ')').hide()
        }

       })


      $('#matrix td').html('')
       $('#periods .totals .length').html((total).toFixed(2))

       $('#matrix td').last().html((total).toFixed(2));

       totals['job'] = {}
       $.each(totals, function(employee,values) {
         totals['employee'] = 0
        $.each(totals[employee], function(job,values) {
          var cell = $('#employee' + employee + ' .job' + job)
          cell.html(totals[employee][job].toFixed(2))
          totals['employee'] += totals[employee][job]
          if (totals['job'][job]  && employee != 'job') {totals['job'][job] += totals[employee][job]}
          else  {totals['job'][job] = totals[employee][job]}
        });
        $('#employee' + employee + ' .total').html(totals['employee'].toFixed(2))
       });
       $.each(totals['job'], function(job, values) {
        $('.total' + ' .job' + job).html(totals['job'][job].toFixed(2))
       });
     });

    }


    var startdate = updateDate('startdate')
    var enddate = updateDate('enddate')

    $('[id^=startdate]').change(function() {
      startdate = updateDate('startdate');
      calcTotals(startdate,enddate)
    })
    $('[id^=enddate]').change(function() {
      enddate = updateDate('enddate');
      calcTotals(startdate,enddate)
    })

    calcTotals(startdate,enddate);

  });

</script>
