<h1>Report <i class="icon-refresh" id="refreshAJAX"></i></h1>
<h2>Current Status</h2>

<% @employees.each do |employee| 
  @lastevent = @events.where({:employee_id => params[employee.id]}).last %>
  <%= @lastevent.employee_id if @lastevent %>

<% end %>
<div class="controls controls-row">
  <div class="span2">
    <%= label "startdate", "Start Date" %>
    <%= text_field "startdate","",:value => 7.days.ago.at_midnight.to_date, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
</div>

  <div class="span2">
    <%= label "enddate", "End Date" %>
    <%= text_field "enddate","",:value => 1.day.from_now.at_midnight.to_date, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
  </div>
<div class="span2">
    <%= label "dateRange", "Date Range" %>
  <select id="dateRange" class="span2">
    <option value="custom">Custom</option>
    <option value="lastWeek" startdate="<%= 7.days.ago.beginning_of_week.to_date %>" enddate="<%= Date.today.beginning_of_week %>">Last Week</option>
    <option value="thisWeek" startdate="<%= Date.today.beginning_of_week %>" enddate="<%= Date.today.end_of_week %>">This Week</option>
    <option value="lastMonth" startdate="<%= 1.month.ago.beginning_of_month.to_date %>" enddate="<%= Date.today.beginning_of_month %>">Last Month</option>
    <option value="thisMonth" startdate="<%= Date.today.beginning_of_month %>" enddate="<%= Date.today.end_of_month %>">This Month</option>
    <option value="thisYear" startdate="<%= Date.today.beginning_of_year %>" enddate="<%= Date.today.end_of_year %>">This Year</option>
  </select>
</div>
  <div class="span2">
    <%= label :employee, "Filters:" %>
    <%= collection_select(:event, :employee_id, @employees, :id, :firstname, {:prompt => "Select Employee" }, {:class => "span2"}) %>  
</div>
<div class="span3">
    <%= label :job, "." %>
    <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => "Select Job"}) %>  
</div>
</div>
<table id="matrix" class="table">
  <tr>
    <th></th>
    <% @jobs.each do |job| %>
    <th class="job<%= job[:id] %>"><%= job[:name] %></th>
    <% end %>
    <th>Total</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr id="employee<%= employee[:id] %>">
    <th>
      <%= employee[:firstname] %> <%= employee[:lastname] %>
    </th>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
  <% end %>
  <tr class="total">
    <th>Total</th>
        <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
</table>


<h2>Punch Periods</h2>	
<table id="periods" class="table">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>In</th>
    <th>Out</th>
    <th>Length</th>
    <th class="span5">Log</th>

  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period[:employee].firstname %></td>
    <td><%= period[:job].name %></td>
    <td><%= period[:in] %></td>
    <td><%= period[:out] %></td>
    <td><%= '%.2f' % period[:length] if period[:length] != nil %></td>
    <td class="pre"><%= period[:log] %></td>

  </tr>

<% end %>
<tr class="totals"><td>Total:</td><td></td><td></td><td></td><td class="length"></td><td></td></tr>
</table>



<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {


    $('#dateRange').change(function() {
      if ($('#dateRange :selected').attr('startdate')) {
        $('#startdate_').val($('#dateRange :selected').attr('startdate'))
        $('#enddate_').val($('#dateRange :selected').attr('enddate'))
      }

    });
    $('[id^=startdate],[id^=enddate]').change(function() {
      $('#dateRange').val('custom')
    });
    $('#event_employee_id, #event_job_id,#dateRange,[id^=startdate],[id^=enddate]').change(function() {
      calcTotals();
    });
    $('#refreshAJAX').click(function(){
      calcTotals();
    })


    calcTotals();
    truncateLogs();

  });

</script>
