<h1>Report</h1>

<h2>Totals By Job</h2>
<table>
  <tr>
    <th>Job</th>
    <th>Total Hours</th>
  </tr>

<% job_totals.each do |total| %>
  <tr>
    <td><%= total.name %></td>
    <td><%= '%.2f' % total.hours %></td>
  </tr>

<% end %>

</table>
<br>
<table>
  <tr>
  	    <th>Job</th>

<% job_totals.each do |total| %>
    <th><%= total.name %></th>

<% end %>
  </tr>
<tr>
	    <th>Total Hours</th>
<% job_totals.each do |total| %>
    <td><%= '%.2f' % total.hours %></td>

<% end %>
  </tr>


</table>

<br />

<h2>Totals matrix</h2>
  <div class="field">
    Start Date
    <%= datetime_select("startdate","",:default => 7.days.ago.at_midnight) %>
  </div>
  <div class="field">
    End Date
    <%= datetime_select("enddate","",) %>
  </div>
<table id="matrix">
  <tr>
    <td></td>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"><%= job[:name] %></td>
    <% end %>
    <td>Total</td>
  </tr>
  <% @employees.each do |employee| %>
  <tr id="employee<%= employee[:id] %>">
    <td>
      <%= employee[:firstname] %> <%= employee[:lastname] %>
    </td>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
  <% end %>
  <tr class="total">
    <td>Total</td>
        <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
</table>


<h2>All Events</h2>	
	<div class="field">
    <%= collection_select(:event, :employee_id, @employees, :id, :firstname, {:prompt => true}) %>  
</div>
<div class="field">
    <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => true}) %>  
</div>
<table id="periods">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>In</th>
    <th>Out</th>
    <th>Length</th>
    <th>Log</th>

  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period[:employee].firstname %> <%= period[:employee].lastname %></td>
    <td><%= period[:job].name %></td>
    <td><%= period[:in] %></td>
    <td><%= period[:out] %></td>
    <td><%= '%.2f' % period[:length] if period[:length] != nil %></td>
    <td><%= period[:log] %></td>

  </tr>

<% end %>

</table>




  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {

       var startdate = updateDate('start')
       var enddate = updateDate('end')

      $('[id^=startdate]').change(function() {
        startdate = updateDate('start');
        calcTotals(startdate,enddate)
      })
      $('[id^=enddate]').change(function() {
        enddate = updateDate('end');
        calcTotals(startdate,enddate)
      })

      calcTotals(startdate,enddate);
    });

    function updateDate(startOrEnd) {
      var newdate = "20"

      for (var i = 1; i<=5; i++) {
        if (startOrEnd == 'start') {newdate += ("0" + $('#startdate__' + i +'i').val()).slice(-2)}
        else if (startOrEnd == 'end') {newdate += ("0" + $('#enddate__' + i +'i').val()).slice(-2)}

        if (i == 1 || i == 2) {newdate += "-"}
        else if (i == 3) {newdate += " "}
        else if (i == 4) {newdate += ":"}
      }

      return newdate
    }

    function calcTotals(startdate,enddate) {
      $.getJSON("report.json", function(json){
       total =  0;
       var totals = {};


       $.each(json, function(n) {
        if(json[n].length && json[n].in >= startdate && json[n].out <= enddate) {
          var employeeId = json[n].employee.id;
          var jobId = json[n].job.id;
          if(totals[employeeId]) {
            if(totals[employeeId][jobId]) {totals[employeeId][jobId] += json[n].length}
            else {totals[employeeId][jobId] = json[n].length}
          }
          else {
            totals[employeeId] = {};         
            totals[employeeId][jobId] = json[n].length
          }

          total += json[n].length
        }

       })

       totalRow = $(jQuery('<tr class="totals"><td>Total:</td><td></td><td></td><td></td><td>' + (total).toFixed(2) + '</td><td></td></tr>'))
       
       $('#periods .totals').remove()
       $('#periods tbody').append(totalRow)

       $('#matrix td').last().html((total).toFixed(2));

       totals['job'] = {}
       for (var employee in totals) {
         totals['employee'] = 0
        for (var job in totals[employee]) {
          var cell = $('#employee' + employee + ' .job' + job)
          cell.html(totals[employee][job].toFixed(2))
          totals['employee'] += totals[employee][job]
          if (totals['job'][job]  && employee != 'job') {totals['job'][job] += totals[employee][job]}
          else  {totals['job'][job] = totals[employee][job]}
        }
        $('#employee' + employee + ' .total').html(totals['employee'].toFixed(2))
       }
       for (var job in totals['job']) {
        $('.total' + ' .job' + job).html(totals['job'][job].toFixed(2))
       }
     });

    }
  </script>
