<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @event.employee.firstname %>
</p>

<p>
  <b>Type:</b>
  <%= @event.punch_type %>
</p>

<p>
  <b>Punchtime:</b>
  <%= @event.punchtime %>
</p>

<p>
  <b>Log:</b>
  <%= @event.log %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
