<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @event.employee.firstname %> <%= @event.employee.lastname %>
</p>

<p>
  <b>Job:</b>
  <%= @event.job.name %>
</p>

<p>
  <b>Type:</b>
  <%= @event.punch_type %>
</p>

<p>
  <b>Punchtime:</b>
  <%= @event.punchtime %>
</p>

<p class="pre"><b>Log:</b>
<%= @event.log %>
</p>


<%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
<%= link_to 'Back', events_path, :class => 'btn' %>
<%= link_to 'New', new_event_path(:employee_id => @event.employee_id), :class => 'btn btn-primary' %>
